@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@font-face {
    font-family: 'Android';
    src: url('../fontes/idroid.otf') format('opentype');
    font-weight: normal;
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', cursive;
    --fonte-android: 'Android', cursive;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after{
    content: '\00A0\1F517';
}

header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    min-height: 150px;
    text-align: center;
    padding-top: 40px;
}

header > h1 {
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    margin-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    max-width: 500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 20px;
    color: white;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.5);
}

nav {
    display: flex;
    flex-direction: row;
    background-color: var(--cor5);
    padding: 10px;
    box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.5);
}

nav div a {
    color: var(--cor1);
    padding: 8px;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition-duration: 200ms;
}

nav div > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
    box-shadow: inset 1px 1px 0px rgba(0, 0, 0, 0.5);
}

@media (max-width: 600px) {
    nav {
        flex-direction: column;
    }
    nav div {
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

main {
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    padding: 20px;
    background-color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    font-weight: normal;
    font-size: 1.8em;
}

main h2 {
    font-family: var(--fonte-android);
    font-weight: normal;
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    text-indent: 5px;
}

main p {
    margin: 16px 0px;
    text-align: justify;
    text-indent: 30px;
    font-size: 1em;
    line-height: 2em;
}

main strong {
    color: var(--cor4);
    font-weight: bold;
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor5);
    background-color: var(--cor1);
    padding: 2px 5px;
}

main a:hover {
    text-decoration: underline;
    color: var(--cor4);
}

main img {
    width: 100%;
}

main img.pequena {
    display: block;
    max-width: 350px;
    margin: auto;
}

div.video {
    background-color: var(--cor5);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 56.7%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    padding: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.3);
}

aside > h3 {
    color: white;
    background-color: var(--cor4);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
}

aside > div {
    background-image: linear-gradient(to bottom, var(--cor0), var(--cor1));
    width: calc(100% + 20px);
    height: 10px;
    margin-left: -10px;
}

aside > ul {
    list-style-type: '\2714\00a0';
    list-style-position: inside;
    columns: 3;
}

@media (max-width: 720px) {
    aside > ul {
        columns: 2;
    }
}

@media (max-width: 480px) {
    aside > ul {
        columns: 1;
    }
}

footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 20px;
}

footer > p {
    line-height: 2em;
}

footer a {
    color: white;
    font-weight: bolder;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}